<table style="white-space: normal">
  <thead>
  <tr>
    <th>Path</th>
    <th>Operation</th>
    <th>Value Type</th>
  </tr>
  </thead>
  <tbody>
  <% for item in data[:fields] %>
    <tr>
      <td>
        <a name="<%= item[:name] %>">
          <% if !item[:url].nil? %>
            <a target="_blank" href="<%= item[:url]%>"><code><%= item[:path]%></code></a>
          <% else %>
            <code><%= item[:path]%></code>
          <% end %>
        </a>
      </td>
      <td><%= item[:operation] %></td>
      <td><%= item[:type] %> </td>
    </tr>
    <tr>
      <td colspan="4">
        <ul style="list-style-type: none; margin: 1.2em">
          <% unless item[:description].nil? %>
            <li><i>Description</i></li>
            <ul style="list-style-type: none"><li><%= item[:description] %></li></ul>
          <%end%>
          <% unless item[:example].nil? %>
            <li><i>Example</i></li>
            <ul style="list-style-type: none"><li><pre><%= item[:example] %></pre></li></ul>
          <%end%>
          <% unless item[:example2].nil? %>
            <li><i>Example</i></li>
            <ul style="list-style-type: none"><li><pre><%= item[:example2] %></pre></li></ul>
          <%end%>
          <% unless item[:note].nil? %>
            <li><i>Notes</i></li>
            <ul style="list-style-type: none"><li><%= item[:note] %></li></ul>
          <%end%>
        </ul>
        <div style="float: right"><a href="#<%=data[:table_name]%>">top of section</a></div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
